// # Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// # Generics
body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

// # Utils
.container {
  max-width: 1080px;
  margin: 0 auto;
}
